// Import Bootstrap variables and mixins (nothing else, Bootstrap is already included in index.html)
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Metronic
@import "metronic/global/components-rounded.scss";
@import "metronic/global/plugins.scss";
@import "metronic/admin/layout4/layout.scss";
@import "metronic/admin/layout4/themes/light.scss";

// Custom styles
@import "_bootstrap-fixes.scss";
@import "_ns-popover.scss";
@import "_header.scss";
@import "_login.scss";
@import "_search.scss";

// Module styles
@import "../person/styles/person.scss";

.login-bg {
  background: url(../img/login/bg/1.jpg);
  background-size: 100% auto;
}
.login-content {
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  background: url(../img/bg-white-lock.png) repeat;
  @include border-radius(7px);

  .rememberMe {
    margin-top: 8px;
    display: inline-block;
  }
}
.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.portlet-default {
  @extend .portlet;
  @extend .light;
  @extend .portlet-body;

  .topheading {
    margin-top: 0;
  }
}
