language: node_js
node_js:
- 4.4
sudo: false
env:
  global:
  - SAUCE_USERNAME=metaxy
branches:
  only:
  - master
services:
- mongodb
cache:
  directories:
  - "$HOME/.nvm"
  - node_modules
  - bower_components
before_install:
- openssl aes-256-cbc -K $encrypted_e5b24132766f_key -iv $encrypted_e5b24132766f_iv
  -in id_rsa.enc -out id_rsa -d
- npm install -g bower@1.7.0 gulp@3.9.1
- cp id_rsa ~/.ssh/id_rsa
- chmod 600 ~/.ssh/id_rsa
- echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- npm set progress=false
install:
- npm install
- bower install
script:
- gulp build
after_success:
- ls dist/
- sh deploy.sh
