/***
Portlets
***/

/* Basic portlet */

.portlet  {
  .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;

    > li {
      background: none;
      margin: 0;
      border: 0;

      > a {
        background: none;
        margin: 5px 0 0 1px;
        border: 0;
        padding: 8px 10px;
        color: #666;
      }

      &.active > a,
      &:hover > a {
        color: #333;
        background: #fff;
        border: 0;
      }
    }
  }

  .tab-content {
    clear: both;
  }
}
