<script type="text/ng-template" id="searchResultsTpl.html">
  <a tabindex="-1">
    <span class="fa fa-user"></span>
    <span ng-bind-html-unsafe="match.label.firstName | typeaheadHighlight:query">{{match.label.firstName}}</span>
    <span ng-bind-html-unsafe="match.label.lastName | typeaheadHighlight:query">{{match.label.lastName}}</span>
  </a>
</script>

<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="../../index.html">
        <img src="../_global/images/gemmii_sm.png" alt="logo" class="logo-default"/>
      </a>
      <div class="menu-toggler sidebar-toggler"></div>
    </div>
    <!-- END LOGO -->
    <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>

    <!-- BEGIN SEARCH GROUP -->
    <div class="page-actions" ng-controller="HeaderController as header">
      <form id="main-search search-form" role="form" novalidate="novalidate">
        <div class="input-group search-group">
          <select selectpicker class="selectpicker" ng-model="component">
            <option data-icon="glyphicon glyphicon-globe" value="all">Everything</option>
            <option data-icon="glyphicon glyphicon-user" value="person">Persons</option>
          </select>
          <input name="global-search"
                 class="search-field middle"
                 type="search"
                 tabindex="0"
                 placeholder="{{'Search' | translate}}"
                 id="global-search"
                 ng-model="asyncSearch"
                 typeahead="search for search in getSearch($viewValue)"
                 typeahead-loading="loadingSearch"
                 typeahead-template-url="searchResultsTpl.html"
                 typeahead-wait-ms="200">
          <span class="search-btn-group">
            <button type="button" class="btn search-btn">
              <i class="fa fa-search fa-lg" ng-hide="loadingSearch"></i>
              <i ng-show="loadingSearch" class="glyphicon glyphicon-refresh green-haze"></i> </button>
          </span>
        </div>
      </form>
    </div>
    <!-- END SEARCH GROUP -->

    <!-- BEGIN DROPDOWNS -->
    <div class="page-top">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <!-- BEGIN PROFILE -->
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <span class="username username-hide-on-mobile">
              Samuel </span>
              <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
              <img alt="" class="img-circle" src="/_global/images/person-placeholder-80x80.jpg">
            </a>
          </li>
          <!-- END PROFILE -->
        </ul>
      </div>
      <!-- END DROPDOWNS -->
    </div>
  </div>
  <!-- END HEADER INNER -->
</div>
