<div class="page-sidebar navbar-collapse collapse">
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
      ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}" ng-if="acl.isLoggedIn()">
		<li>
			<a ui-sref='dashboard'>
        <fa name="laptop" fw></fa>
        <span class="title" translate>Dashboard</span>
      </a>
		</li>
		<li>
			<a>
        <fa name="user" fw></fa>
        <span class="title" translate>Persons</span>
        <span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a ui-sref='person.list'>
					  <fa name="users"></fa> <translate>List Persons</translate>
					</a>
				</li>
				<li>
					<a ui-sref='person.create'>
            <fa name="user-plus"></fa> <translate>New Person</translate>
					</a>
				</li>
			</ul>
		</li>
    <li>
      <a>
        <fa name="bar-chart" fw></fa>
        <span class="title" translate>Reports</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a ui-sref='report.list'>
            <fa name="eye"></fa> <translate>List Reports</translate>
          </a>
        </li>
        <li>
          <a ui-sref='report.create'>
            <fa name="plus"></fa> <translate>New Report</translate>
          </a>
        </li>
      </ul>
    </li>
    <li>
			<a ui-sref="note.list">
        <fa name="file-text" fw></fa>
        <span class="title" translate>Notes</span>
        <span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a ui-sref='note.list'>
					  <fa name="file-text"></fa> <translate>My Notes</translate>
					</a>
				</li>
				<li>
					<a ui-sref='note.create'>
            <fa name="plus-circle"></fa> <translate>Create Note</translate>
					</a>
				</li>
			</ul>
		</li>
    <li>
      <a ng-click="logout()">
        <fa name="sign-out" fw></fa>
        <span class="title" translate>Logout</span>
      </a>
    </li>

	</ul>
</div>
