.person-view {
  .householdMembers {
    ul {
      li {
        min-width: 160px;
        vertical-align: top;
        a {
          display: block;
          text-decoration: none;
          color: black;

          h4 {
            margin: 0;
            font-size: 14px;
          }
          img {
            margin-right: 10px;
            border-radius: 50%;
          }
        }
      }
    }
  }

}

.gender-buttons {
  $gender-male: #578ebe;
  $gender-female: #e08283;
  .btn-male {
    color: $gender-male;
    border: 1px solid $gender-male;

    &:hover,
    &.active {
      background-color: $gender-male;
      color: white;
    }
  }
  .btn-female {
    color: $gender-female;
    border: 1px solid $gender-female;

    &:hover,
    &.active {
      background-color: $gender-female;
      color: white;
    }
  }
}


.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.save-btn {
  margin-top: 20px;
}
