<div>
  <control-group label="{{'Street 1' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.street1" />
  </control-group>
  <control-group label="{{'Street 2' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.street2" />
  </control-group>
  <control-group label="{{'Additional' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.additional" />
  </control-group>
  <control-group label="{{'Zipcode' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.zipcode" />
  </control-group>
  <control-group label="{{'City' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.city" />
  </control-group>
  <control-group label="{{'Country' | translate}}">
    <input class="form-control form-inline" type="text" ng-model="address.country" />
  </control-group>
</div>
