<!doctype html>
<html ng-controller="AppController as appCtrl">
  <head>
    <meta charset="utf-8">
    <title data-ng-bind="appCtrl.getTitle()"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="189x187" href="images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="386x382" href="images/apple-touch-icon-386-precomposed.png">
  </head>
  <body flex layout="column">
    <div ng-if="acl.isLoggedIn()">
      

      <div flex layout="row" class="main-container">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('min-width: 500px')" class="md-sidenav-left md-whiteframe-z1">
          <div flex data-ng-include="'templates/sidebar.html'" layout="column" layout-fill data-ng-controller="SidebarController as sidebarCtrl"></div>
        </md-sidenav>

        <div flex layout="column">
        
          <md-toolbar layout-padding layout="row" class="md-whiteframe-z0 header-toolbar">
            <div flex data-ng-include="'templates/header.html'" data-ng-controller="HeaderController as headerCtrl" layout="row"> </div>
          </md-toolbar>
          
          <div flex layout="column" layout-margin>
            <div flex ui-view layout="column" ></div>
            <div style="color: #bbb">
              {{accessToken}}
            </div>
          </div>

        </div>
      </div>
    </div>
    <div flex ng-if="acl.isLoggedOut()" class="login-container">
      <div flex ui-view layout="column" ></div>
    </div>

    <script src="jspm_packages/es6-module-loader.js"></script>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app').then(function() {
        angular.bootstrap(document, ['gem.main']);
      });
    </script>
  </body>
</html>
