<div ng-controller="EventController as ctrl">

  <form novalidate>
    <md-input-container >
      <label>Event Name</label>
      <input ng-model="ctrl.item.name">
    </md-input-container>
    
    <md-input-container>
      <label>Event Date</label>
      <mh-date-input ng-model="ctrl.item.date"></mh-date-input>
    </md-input-container>
    
    <md-select ng-model="ctrl.templateId" ng-change="ctrl.updateTemplate()" aria-label="Template ID">
      <md-option ng-repeat="template in ctrl.templates" ng-value="template.id" aria-label="{{template.name}}">{{template.name}}</md-option>
    </md-select>
    
    <div class="md-whiteframe-1dp event-template-item" ng-repeat="option in ctrl.template.data track by $index">
      <md-input-container>
        <label>{{option.name}}</label>
        <div ng-if="option.type == 'text'">
          <input type="text" ng-model="ctrl.item.data[$index]" />
        </div>
        <div ng-if="option.type == 'date'">
          <mh-date-input ng-model="ctrl.item.data[$index]"></mh-date-input>
        </div>
        <div ng-if="option.type == 'person'">
          <mh-person-chips ng-model="ctrl.item.data[$index]"></mh-person-chips>
        </div>
        <div ng-if="option.type == 'group'">
          <mh-group-chips ng-model="ctrl.empty"></mh-group-chips>
        </div>
      </md-input-container>
    </div>
    
    <md-button class="md-raised md-primary" ng-click="ctrl.save()">
      <translate>Save</translate>
    </md-button>  
  </form>

</div>