<div class="mh-content">
  <md-input-container >
    <label>Template Name</label>
    <input ng-model="ctrl.item.name">
  </md-input-container>
  <md-input-container>
    <label translate>Tags</label>
    <mh-tags ng-model="ctrl.item.tags" source="EventTemplate"></mh-tags>
  </md-input-container>
</div>
<div layout="row">
  <h3 translate>Options for the Template</h3>
  <md-button class="md-primary" ng-click="ctrl.newOption()">
    <translate>Add a option</translate>
  </md-button>
</div>

<div ng-repeat="option in ctrl.item.data" >
  <div layout-gt-sm="row" class="mh-content">
  <md-input-container >
    <label translate>Type</label>
    <md-select ng-model="option.type">
      <md-option ng-repeat="type in ctrl.types" value="{{type.value}}">{{type.name}}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex>
    <label translate>Label</label>
    <input ng-model="option.name">
  </md-input-container>
  </div>
</div>


<div layout-align="end center" layout="row">
  <md-button class="md-primary" ng-click="ctrl.save()">
    <translate>Save</translate>
  </md-button>
</div>
