<img src="images/logo-d.png" class="logo-image">

<form flex ng-submit="$event.preventDefault()">
  <md-autocomplete flex
      md-search-text="headerCtrl.searchText"
      md-selected-item-change="headerCtrl.selectedItemChange(item)"
      md-items="item in headerCtrl.querySearch(headerCtrl.searchText)"
      md-min-length="3"
      placeholder="{{'Search…'|translate}}"
      md-selected-item="headerCtrl.selectedItem"
      md-search-text-change="headerCtrl.searchTextChanged(headerCtrl.searchText)"
      md-selected-item-change="headerCtrl.selectedItemChange(item)"
      class="header-search"
    >

    <gem-avatar person="item" circle size="xs"></gem-avatar>
    <span md-highlight-text="headerCtrl.searchText" md-highlight-flags="^i">
      {{item | formatName}}
    </span>

  </md-autocomplete>
</form>

<mh-dropdown-menu icon="more_vert">
  <mh-dropdown-menu-item href="#">Mein Konto</mh-dropdown-menu-item>
  <mh-dropdown-menu-item href="#">Hilfe</mh-dropdown-menu-item>
  <mh-dropdown-menu-item href="#">Logout</mh-dropdown-menu-item>
</mh-dropdown-menu>
