
<div flex>
  <md-button hide-gt-md
             class="md-icon-button mh-toogle-button"
             aria-label="Toogle Menu"
             ng-click="appCtrl.toggleLeft()">
    <ng-md-icon icon="menu"></ng-md-icon>
  </md-button>

  <span class="sub-title" hide show-gt-md> {{appCtrl.getSubTitle()}} </span>
</div>
<div flex-gt-sm="66">
  <form flex ng-submit="$event.preventDefault()">
    <md-autocomplete flex
        md-search-text="headerCtrl.searchText"
        md-selected-item-change="headerCtrl.selectedItemChange(item)"
        md-items="item in headerCtrl.querySearch(headerCtrl.searchText)"
        md-min-length="2"
        placeholder="{{'Search…'|translate}}"
        md-selected-item="headerCtrl.selectedItem"
        md-selected-item-change="headerCtrl.selectedItemChange(item)"
        class="header-search"
      >

      <mh-avatar person="item" circle size="xs"></mh-avatar>
      <span md-highlight-text="headerCtrl.searchText" md-highlight-flags="^i">
        {{item | formatName}}
      </span>

    </md-autocomplete>
  </form>
</div>
<div flex="10" style="text-align:right">
  <md-menu>
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
      <ng-md-icon icon="more_vert"></ng-md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="item in headerCtrl.personalMenu">
        <md-button ng-click="ctrl.announceClick($index)">
          <ng-md-icon md-menu-align-target icon="{{item.icon}}"></ng-md-icon>
          <a ui-sref="{{item.link}}">{{item.name}}</a>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
