<img src="images/logo.png" class="logo-image">

<form flex ng-submit="$event.preventDefault()">
  <md-autocomplete flex
      md-search-text="headerCtrl.searchText"
      md-selected-item-change="headerCtrl.selectedItemChange(item)"
      md-items="item in headerCtrl.querySearch(headerCtrl.searchText)"
      md-min-length="3"
      placeholder="{{'Search…'|translate}}"
      md-selected-item="headerCtrl.selectedItem"
      md-search-text-change="headerCtrl.searchTextChanged(headerCtrl.searchText)"
      md-selected-item-change="headerCtrl.selectedItemChange(item)"
      class="header-search"
    >

    <span md-highlight-text="headerCtrl.searchText" md-highlight-flags="^i">
      {{item | formatName}}
    </span>

  </md-autocomplete>
</form>
