<md-toolbar layout-padding>
    <img src="images/logo.png" >
</md-toolbar>
<md-content flex>  
  <ul flex class="nav">
    <li ng-repeat="entry in mainMenu">
      <a ng-if="!entry.children" ui-sref="{{entry.route}}">
        <fa name="{{entry.icon}}"></fa>
        <span class="title">{{entry.label | translate}}</span>
      </a>

      <a ng-if="entry.children">
        <fa name="{{entry.icon}}"></fa>
        <span class="title">{{entry.label | translate}}</span>
        <span class="arrow "></span>
      </a>
      <ul ng-if="entry.children" class="sub-menu">
        <li ng-repeat="entry in entry.children">
          <a ui-sref="{{entry.route}}">
            <fa name="{{entry.icon}}"></fa> {{entry.label | translate}}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a ng-click="logout()">
        <fa name="sign-out" fw></fa>
        <span class="title" translate>Logout</span>
      </a>
    </li>
  </ul>
</md-content>
