<!--<md-content flex class="page-sidebar">
  <nav ui-nav>
    <ul flex class="nav">
      <li ng-repeat="entry in mainMenu" ui-sref-active="active">
        <a md-ink-ripple ng-if="!entry.children" ui-sref="{{entry.route}}">
          <fa name="{{entry.icon}}" fw></fa>
          <span class="font-normal">{{entry.label | translate}}</span>
        </a>

        <a md-ink-ripple ng-if="entry.children">
          <fa name="{{entry.icon}}" fw></fa>
          <span class="font-normal">{{entry.label | translate}}</span>
          <span class="pull-right">
            <fa name="caret-down"></fa>
          </span>
        </a>
        <ul ng-if="entry.children" class="nav nav-sub">
          <li ui-sref-active="active" ng-repeat="entry in entry.children">
            <a md-ink-ripple ui-sref="{{entry.route}}">
              <fa name="{{entry.icon}}" fw></fa> {{entry.label | translate}}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a ng-click="logout()">
          <fa name="sign-out" fw></fa>
          <span class="title" translate>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</md-content>
-->

<md-content flex role="navigation">
  <ul class="docs-menu">
    <li ng-repeat="entry in sidebarCtrl.mainMenu">
    
      <md-button ng-if="!entry.children" ui-sref="{{entry.route}}" ui-sref-active="active-menu-item">
        <fa name="{{entry.icon}}" fw></fa>
        <span class="font-normal">{{entry.label | translate}}</span>
      </md-button>
      
      <md-button ng-if="entry.children">
        <span>
          <fa name="caret-down"></fa>
        </span>
        <fa name="{{entry.icon}}" fw></fa>
        <span class="font-normal">{{entry.label | translate}}</span>
      </md-button>
      
      <ul ng-if="entry.children" class="menu-nested-list">
        <li ng-repeat="child in entry.children">
          <md-button ui-sref="{{child.route}}" ui-sref-active="active-menu-item">
            <fa name="{{child.icon}}" fw></fa>
            <span class="font-normal">{{child.label | translate}}</span>
          </md-button>
        </li>
      </ul>
    </li>
    <li>
      <md-button ng-click="sidebarCtrl.logout()">
        <fa name="sign-out" fw></fa>
        <span class="title" translate>Logout</span>
      </md-button>
    </li>
  </ul>
</md-content>