<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title data-ng-bind="$state.current.data.pageTitle+' | gemmii'">gemmii</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/favicon.png">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" />
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.css" />
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/textAngular/src/textAngular.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="_global/scripts/metronic/plugins/morris/morris.css">
    <link rel="stylesheet" href="_global/scripts/metronic/pages/css/tasks.css">
    <!-- endbuild -->

  </head>
  <body ng-controller="AppController" data-ng-init="init()" ng-class="{'login-bg': $state.includes('login')}"
        class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load"
        >

      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-spinner-bar class="page-spinner-bar">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <div ng-if="acl.isLoggedIn()">
      <div data-ng-include="'_global/tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top" >
      </div>

      <div class="clearfix"></div>

      <div class="page-container">
        <div data-ng-include="'_global/tpl/sidebar.html'" data-ng-controller="SidebarController as sidebar" class="page-sidebar-wrapper"></div>

        <div class="page-content-wrapper">
          <div class="page-content">
            <div data-ng-include="'_global/tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head" ></div>
            <ui-view />
          </div>
        </div>
      </div>
      <div data-ng-include="'_global/tpl/footer.html'" data-ng-controller="FooterController" class="page-footer">
      </div>
    </div>

    <div ng-if="acl.isLoggedOut()">
      <div class="page-container" >
          <ui-view />
      </div>
    </div>

    <script src="jspm_packages/es6-module-loader.js"></script>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app').then(function() {
        angular.bootstrap(document, ['gemmiiWebApp']);
      });
    </script>


  </body>
</html>
