<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title data-ng-bind="$state.current.data.pageTitle+' | gemmii'">gemmii</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/favicon.png">

  </head>
  <body ng-controller="AppController" data-ng-init="init()" ng-class="{'login-bg': $state.includes('login')}"
        class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo">

    <!--[if lt IE 10]>
      <p class="browsehappy" translate>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-if="acl.isLoggedIn()">
      <div data-ng-include="'_global/tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top" >
      </div>

      <div class="clearfix"></div>

      <div class="page-container">
        <div data-ng-include="'_global/tpl/sidebar.html'" data-ng-controller="SidebarController as sidebar" class="page-sidebar-wrapper"></div>

        <div class="page-content-wrapper">
          <div class="page-content">
            <div data-ng-include="'_global/tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head" ></div>
            <ui-view />
          </div>
        </div>
      </div>
      <div data-ng-include="'_global/tpl/footer.html'" data-ng-controller="FooterController" class="page-footer">
      </div>
    </div>

    <div ng-if="acl.isLoggedOut()">
      <div class="page-container" >
          <ui-view />
      </div>
    </div>

    <script src="jspm_packages/es6-module-loader.js"></script>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app').then(function() {
        angular.bootstrap(document, ['gemmiiWebApp']);
      });
    </script>
  </body>
</html>
