nav {
  overflow-x: hidden;
  ul.nav {
    li {
      position: relative;
      li {
        a {
          line-height: $aside-nav-sub-height;
          padding-left: 72px;
          .badge,
          .label {
            margin-top: ($aside-nav-sub-height - 16)/2;
          }
        }
        li a{
          padding-left: 88px;
        }
        li li a{
          padding-left: 106px;
        }
      }
      a,
      .nav-item{
        font-weight: normal;
        text-transform: none;
        text-align: left;
        display: block;
        padding: 0 16px;
        line-height: $aside-nav-height;
        position: relative;
        border-radius: 0 !important;
        .text{
          margin-left: 16px;
        }
        .up{
          margin-left: 16px;
          font-style: normal;
          z-index: 1;
        }
        > .pull-right i{
          margin-left: 16px;
          @include transition(transform 0.3s ease-in-out);
        }
        > .icon {
          float: left;
          line-height: inherit;
          margin-right: 16px;
          top: 0;
          min-width: 40px;
          &:before{
            width: 24px;
            display: inline-block;
            text-align: center;
            opacity: 0.75;
          }
        }
        &:hover,
        &:focus{
          background-color: rgba(158, 158, 158, 0.2);
        }
      }
      label{
        display: block;
        i{
          margin-left: -16px;
          margin-right: 48px;
        }
      }
      &.active{
        background-color: rgba(0, 0, 0, 0.05);
        > a {
          background-color: transparent;
          > .pull-right i{
            @include rotate(180deg);
          }
        }
      }
    }
    &.nav-stacked{
      a,
      .nav-header{
        padding: 0 16px;
        line-height: $aside-nav-stacked-height;
      }
    }
  }
  .nav-header{
    padding: 0 16px;
    line-height: $aside-nav-height;
    &:hover,
    &:focus{
      background-color: transparent !important;
    }
  }
}

@media (min-width: $aside-min) {

  .folded {
    @include transition(width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1));
    z-index: 60;
    .nav li {
      ul{
        display: none;
      }
      a,
      .nav-item{
        text-align: center;
        span{
          display: none;
        }
        .up{
          position: absolute;
          top: -8px;
          right: 4px;
        }
        .icon{
          float: none;
          line-height: $aside-nav-folded-height;
          margin-right: 0;
          min-width: 0;
        }
        label{
          i{
            margin-left: -38px;
            margin-right: 0;
          }
        }
      }
    }

    .navbar-brand{
      text-align: center;
    }

    .hidden-folded{
      display: none;
    }

    &:hover,
    &:focus,
    &.active{
      width: $aside-width;
      > *{
        width: $aside-width;
      }
      .nav li {
        ul{
          display: inherit;
        }
        a,
        .nav-item{
          text-align: left;
          span{
            display: inline;
          }
          .up{
            position: static;
          }
          .icon{
            float: left;
            line-height: inherit;
            margin-right: 32px;
          }
        }
        label{
          i{
            margin-left: -16px;
            margin-right: 48px;
          }
        }
      }
      .navbar-brand{
        text-align: left;
      }
      .hidden-folded{
        display: inherit;
      }
      .hidden-folded.inline{
        display: inline-block;
      }
    }
  }

}

.nav-sub{
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1));
  .md-ripple-container{
    display: none;
    visibility: hidden;
  }
  .active > &{
    max-height: 999px;
    .md-ripple-container{
      display: block;
      visibility: visible;
    }
  }
}
