/*button.md-button svg {
  line-height: 0;
  //this is needed to center them in ng-md-icon
  display: block;
  margin: 0 auto;
}*/
.md-button {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}
