.header-toolbar {
  background-color: primary-color('600') !important;
  max-height: 64px;
  .sub-title {
    margin-right: 1em;
  }
  .md-icon-button {
    fill: $text-color-light;
  }
  form, md-menu, .md-icon-button {
    padding-top: 0;
    padding-bottom: 0;
  }
  span {
    padding-top: 12px;
  }
}

.header-search {
  color: #000;
}
