.bootstrap  {
  .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &.focused {
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }
    .tag-item {
      background: #e5dbca;
      border: 1px solid #e5dbca;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      display: inline-block;
      position: relative;
      font-size: 12px;
      color: #7a6c51;
      &.selected {
        background: #d9534f;
        border: 1px solid #d43f3a;
        border-radius: 4px;
        color: #fff;
      }
      button {
        background: transparent;
        color: #000;
        opacity: .4;
      }
    }
  }
  .viewport {
    padding: 5px;
    .tag-item {
      color: #7a6c51;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      position: relative;
      font-size: 12px;
      margin-bottom: 7.5px;
      margin-left: 20px;
      padding: 1px 10px 0 10px;
      background: #e5dbca;
      text-decoration: none;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
    .tag-item::before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -11px;
      width: 0;
      height: 0;
      border-color: transparent #e5dbca transparent transparent;
      border-style: solid;
      border-width: 11px 11px 11px 0;
    }
    .item-tag::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      float: left;
      width: 5px;
      height: 5px;
      border-radius: 2px;
      background: #ffffff;
      box-shadow: -1px -1px 2px #c2b8a7;
    }
  }
  .autocomplete {
    border-radius: 4px;
    .suggestion-item {
      &.selected {
        color: #262626;
        background-color: #e9e9e9;
        em {
          color: #262626;
          background-color: #ffff00;
        }
      }
      em {
        font-weight: normal;
        background-color: #ffff00;
      }
    }
  }
}

.blue-tags .bootstrap .tags .tag-item {
    background: #81b0ba;
    border: 1px solid #628993;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #ffffff;
}
