md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-right,
md-sidenav.md-locked-open-remove.md-closed {
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.md-locked-open .sidebar-left-icon {
  display: block;
}

.sidebar-left-toolbar {
  box-shadow: 0 1px 0 rgba(0,0,0,.12);
  z-index: 10;
  height: 72px;
}
.sidebar-left-logo {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidebar-left-icon md-icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all .2s;
  color:#fefefe;
}
.side-menu-link {
  display: block;
  text-align: left;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  margin: 0;
  text-transform: none;
  border-radius: 0!important;
  white-space: normal;
  line-height: 30px !important;
  position: relative;
  z-index: 2;
  box-shadow: none!important;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.sidebar-left-title {
  margin-left: 10px !important;
}
.sidebar-left-icon {
  color: #fefefe;
  ng-md-icon {
    line-height:inherit;
    color: #fefefe;
  }
}

.admin-sidebar-collapsed.md-locked-open .sidebar-left-title,
.admin-sidebar-collapsed.md-locked-open .sidebar-left-icon,
.admin-sidebar-collapsed.md-locked-open .side-menu-link span {
  opacity: 0;
  transition: all .2s;
  transition-delay: .3s;
}
.admin-sidebar-left.md-locked-open {
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  -ms-overflow-style: none;
}
.admin-sidebar-left.md-locked-open.admin-sidebar-collapsed {
  min-width: 60px;
  max-width: 60px;
  transition: all .3s;
}
.is-collapsing{
  min-width:60px;
  max-width:60px;
  transition:all .3s
}
.nav-label {
  margin-left: 18px;
}
.nav-label-sub {
  margin-left: 5px;
}
