@import "compass";
// Z-index master list
$border-radius: 5px;

$sidebar-menu-link-font-size:                                           14px !default;
$sidebar-menu-link-font-weight:                                         400 !default;        

/* Page Sidebar */

.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
	@include border-radius($border-radius);

	&.navbar-collapse {
		padding: 0;
		box-shadow: none;
	}

	/* Default sidebar menu */
	.page-sidebar-menu {
		@include border-radius($border-radius);
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
		
		/* 1st level */
		> li {
			display: block;
			margin: 0;
			padding: 0; 
			border: 0px;

			&.heading {
				height: 50px;
				padding: 25px 15px 10px 15px;   
				
				> h3 {  
					font-size: 13px;    
					font-weight: 400;
					padding: 0;
					margin: 0;   
					font-weight: 600;
				}
			}

			> a {
				display: block;
				position: relative;
				margin: 1px 0 0 0;
				border: 0px;
				padding: 12px 15px; 
				text-decoration: none;

				> .title {
					font-size: $sidebar-menu-link-font-size;
					font-weight: 400;
          color: $text-color;
				}

				> i {
					font-size: 18px;
					text-shadow: none;   
					font-weight: 300;
          color: $text-color;
				}

				.page-sidebar-fixed & {
					transition: all 0.2s ease;
				}

				.page-sidebar-reversed.page-sidebar-fixed & {
					transition: none;
				}
			}

			&.open {
				> a {
					font-size: $sidebar-menu-link-font-size;
				}
			}

			&.active {
				> a {
					border: none; 
					text-shadow:none;
					font-size: $sidebar-menu-link-font-size;
				}
			}
		}

		/* all links */
		li {
			> a {
				> .arrow {
					&:before {  
						width: 10px;
						float: right;
						margin-right: 5px;
						margin-left: 5px; 
						display: inline;
						font-size: 16px;
						font-family: FontAwesome;
						height: auto;
						content: "\f104";
						font-weight: 300;
						text-shadow:none;
					}

					&.open:before {   
						content: "\f107";
						margin-right: 6px;
					}
				}

				> .badge {
					float: right;
					margin-top: 1px;
					margin-right: 0px;
				}
			}
		}

		.sub-menu {
			list-style: none;
			display: none;
			padding: 0;
			margin: 8px 0px 8px 0px;	
			
			li {
				background: none;
				margin: 0px;
				padding: 0px;
				margin-top: 1px !important;

				> a {					
					display: block;
					margin: 0;
					padding: 9px 14px 9px 30px;
					text-decoration: none;
					font-size: 14px;
					font-weight: 400;
					background: none;

					.arrow {
						&:before {  
							margin-top: -4px;
						}

						&.open:before {
							margin-top: -2px;
						}	
					}
				}

				/* 2nd level sub menu */
				> .sub-menu {				
					margin: 0;		
					> li {
						> a {
							padding-left: 40px;
						}
						/* 3rd level sub menu */
						> .sub-menu {
							margin: 0;
							> li {
								> a {  
									padding-left: 50px;
								}
							}
						}
					}
				}
			} 
		}

		li.active {
			> .sub-menu {
				display: block;
			}
		}
	}
}

