.md-sidenav-left,
.md-sidenav-left.md-locked-open-add-active,
.md-sidenav-left.md-locked-open {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.sidebar-container {
  background-color: #f6f6f6 !important; //overwrite .md-content
}

.sidebar-menu {
  padding: 0;
  list-style: none;
}
.sidebar-menu li {
  margin: 0;
  .icon-arrow {
    fill: #aaa;
  }
  .icon-placeholder-18 {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  .icon-placeholder-24 {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

}
.sidebar-menu .md-button {
  text-transform: none;
  font-weight: 400;
  width: 100%;
  text-align: left;
  color: #555;
}

.fadein,
.fadeout {
  -webkit-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -moz-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

