md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-right,
md-sidenav.md-locked-open-remove.md-closed {
  position: static;
  display: flex;
  transform: translate3d(0,0,0);
}

.md-locked-open .sidebar-left-icon {
  display: block;
}

.sidebar-left-toolbar {
  box-shadow: 0 1px 0 rgba(0,0,0,.12);
  z-index: 10;
  min-height: $toolbar-height;
  max-height: $toolbar-height;
  background-color: primary-color('700');
}
.sidebar-left-logo {
  flex-shrink: 0;
}
.sidebar-left-icon md-icon {
  transform: rotate(90deg);
  transition: all .2s;
  color:#fefefe;
}
.side-menu-link {
  display: block;
  text-align: left;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  margin: 0;
  text-transform: none;
  white-space: normal;
  line-height: 48px;
  position: relative;
  z-index: 2;
  transform: translate3d(0,0,0);
  ng-md-icon {
    line-height:inherit;
  }
}
.sidebar-left-title {
  margin-left: 10px !important;
}
.sidebar-left-icon {
  color: #fefefe;
  ng-md-icon {
    line-height:inherit;
    color: #fefefe;
  }
}

.admin-sidebar-collapsed.md-locked-open .sidebar-left-title,
.admin-sidebar-collapsed.md-locked-open .sidebar-left-icon,
.admin-sidebar-collapsed.md-locked-open .side-menu-link span {
  opacity: 0;
  transition: all .2s;
  transition-delay: .3s;
}
.admin-sidebar-left.md-locked-open {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  -ms-overflow-style: none;
}
.admin-sidebar-left.md-locked-open.admin-sidebar-collapsed {
  min-width: 60px;
  max-width: 60px;
  transition: all .3s;
}
.is-collapsing{
  min-width:60px;
  max-width:60px;
  transition:all .3s
}
.nav-label {
  margin-left: 18px;
}
.nav-label-sub {
  margin-left: 5px;
}
.no-scroll {
  overflow: hidden;
}
.no-scroll-horizontal {
  overflow-x: hidden;
}
.side-menu-content {
  background-color: primary-color('700');
  color: $text-color-light;
  fill: $text-color-light;
}