// Metronic
@import "metronic/global/components-rounded";
@import "metronic/global/plugins";
@import "metronic/admin/layout4/layout";
@import "metronic/admin/layout4/themes/light";

// Custom styles
@import "bootstrap-fixes";
@import "ns-popover";
@import "loading";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.portlet-default {
  @extend .portlet;
  @extend .light;
  @extend .portlet-body;

  .topheading {
    margin-top: 0;
  }
}

.button-list label {
  margin-bottom: 5px;
  margin-right: 2px;
}
.button-list .btn-default.active {
  background-color: #81b0ba !important;
  color: #fff;
}
