@import "compass";
@import "variables";
@import "theme";

@import "components/_dropdown.scss";
@import "components/_panel.scss";
@import "components/_table-responsive.scss";
@import "components/_list.scss";
@import "components/_tags.scss";
@import "components/_pagination.scss";
@import "components/_typography.scss";

// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";
@import "sidebar";
@import "autocomplete";

#body {
  background-color: background-color('100') !important;
}
a {
  color: primary-color('400');
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
  color: primary-color('600');
}
.main-container {
  min-height: 1024px;
}

#content {
  margin: 24px;
}

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.header-search {
  color: #000;
}

.logo-image {
  max-width:100%;
  max-height:100%;
  margin-right: 3em;
}

.header-toolbar {
  background-color: background-color('400') !important;
}

.label-row {
  .label {
    margin-right: 3px;
  }
}

.fab-white {
  background-color:white !important;
  padding-top:6px !important;
}
