@import "compass";
@import "variables";
@import "theme";

@import "components/_dropdown.scss";
@import "components/_panel.scss";

// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";
@import "sidebar";
@import "autocomplete";


.main-container {
  min-height: 1024px;
}

#content {
  margin: 24px;
}

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.header-search {
  color: #000;
}

.logo-image {
  max-width:100%;
  max-height:100%;
  margin-right: 3em;
}

.header-toolbar {
  background-color: rgb(95, 95, 95) !important;
}

.label-row {
  .label {
    margin-right: 3px;
  }
}

.fab-white {
  background-color:white !important;
  padding-top:6px !important;
}
