@import "variables";

// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";
@import "sidebar";
@import "autocomplete";

body  {
  background-color: #EFEFEF;
}
.main-container {
  min-height: 1024px;
}
#content {
  margin: 24px;
}

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}
.header-search {
  color: #000;
}

.logo-image {
  max-width:100%;
  max-height:100%;
  margin-right: 3em;
}

.header-toolbar {
  background-color: rgb(95, 95, 95) !important;
}

.label-row {
  .label {
    margin-right: 3px;
  }
}

.avatar-shadow {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(153,151,153,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(153,151,153,1);
  box-shadow: 4px 4px 5px 0px rgba(153,151,153,1);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}
