@import "variables";

// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";
@import "sidebar";

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}


.header-search {
  color: #000;
}