@import "variables";
@import "theme";

@import "components/autocomplete";
@import "components/dropzone";
@import "components/chips";
@import "components/list";
@import "components/fab";
@import "components/ns-popover";
@import "components/panel";
@import "components/pagination";
@import "components/table-responsive";
@import "components/tags";
@import "components/toast";
@import "components/typography";

@import "modules/auth";
@import "modules/calendar";
@import "modules/dashboard";
@import "modules/person";
@import "modules/report";

@import "header";
@import "sidebar-n";

@import "hacks";

html, body {
  font-family: 'Roboto';
  background-color: background-color('100') !important;
  min-height: 100%;
  height: 100%;
}

a {
  color: primary-color('400');
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
  color: primary-color('600');
}

#content {
  margin: 24px;
}

span.errormsg {
  color: #F44336;
}

.dark-background {
  background-color: background-color('300');
  color: #fff;
}

.full-height {
  height: 100%;
  box-sizing: border-box;
}

gm-map {
  display: block;
  width: 100%;
  div {
    max-width:200px !important;
    max-height: 200px;
    position:relative !important;
  }
}

.radio-buttons-hz  {
  md-radio-button {
    display: inline !important;
  }
}
/*ng-md-icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}*/
