// Metronic
@import "metronic/global/components-rounded";
@import "metronic/global/plugins";
@import "metronic/admin/layout4/layout";
@import "metronic/admin/layout4/themes/light";

// Metronic fixes/overrides
@import "metronic-overrides/metronic-overrides.scss";

// Custom styles
@import "bootstrap-fixes";
@import "ns-popover";
@import "loading";
@import "header";
@import "search";
@import "dropzone";

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.portlet-default {
  @extend .portlet;
  @extend .light;
  @extend .portlet-body;

  .topheading {
    margin-top: 0;
  }
}
