$brand-primary: #ff0;

// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";

.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}
