@import "variables";
@import "theme";

@import "components/_dropdown.scss";
@import "components/_panel.scss";
@import "components/_table-responsive.scss";
@import "components/_list.scss";
@import "components/_tags.scss";
@import "components/_pagination.scss";
@import "components/_typography.scss";

@import "modules/_auth.scss";
@import "modules/_calendar.scss";
@import "modules/_dashboard.scss";
@import "modules/_person.scss";
@import "modules/_report.scss";


// Custom styles
@import "ns-popover";
@import "header";
@import "search";
@import "dropzone";
@import "input-tags";
@import "sidebar";
@import "autocomplete";
html, body {
  background-color: background-color('100') !important;
  min-height: 100%;
  height: 100%;
}
a {
  color: primary-color('400');
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
  color: primary-color('600');
}
.main-container {
  min-height: 1024px;
}

#content {
  margin: 24px;
}
.md-button svg {
  line-height: 0;
  //this is needed to center them in ng-md-icon
  display: block;
  margin: 0 auto;
}
.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.header-search {
  color: #000;
}

.logo-image {
  max-width:100%;
  max-height:100%;
  margin-right: 3em;
}

.header-toolbar {
  background-color: primary-color('600') !important;
  .sub-title {
    margin-right: 1em;
  }
  .md-icon-button {
    fill: $text-color-light;
  }
}

.label-row {
  .label {
    margin-right: 3px;
  }
}

.fab-white {
  background-color:white !important;
  padding-top:6px !important;
}

.errormsg {
  color: #F44336;
}

md-toast {
  // https://github.com/angular/material/issues/1106
  position: fixed !important;
}
