// Import Bootstrap variables and mixins (nothing else, Bootstrap is already included in index.html)
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Metronic
@import "metronic/global/components-rounded";
@import "metronic/global/plugins";
@import "metronic/admin/layout4/layout";
@import "metronic/admin/layout4/themes/light";

// Custom styles
@import "bootstrap-fixes";
@import "ns-popover";
@import "header";
@import "login";
@import "search";

// Module styles
@import "../../person/styles/person.scss";

.login-bg {
  background: url(../_global/images/login/bg/1.jpg);
  background-size: 100% auto;
}
.login-content {
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  background: url(../_global/images/bg-white-lock.png) repeat;
  @include border-radius(7px);

  .rememberMe {
    margin-top: 8px;
    display: inline-block;
  }
}
.logo {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.portlet-default {
  @extend .portlet;
  @extend .light;
  @extend .portlet-body;

  .topheading {
    margin-top: 0;
  }
}
