<div ng-controller="OptionController as main">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="option in main.options"  ng-click="main.setEditedPerson(option)" ng-class="{'active':main.isCurrentOption(option.id)}">
      {{ option.option_name }} {{person.option_value}}
      <span type="button" style="float:right" ng-click="main.deleteOption(option.id)">&times;</span>
    </li>
  </ul>

  <div ng-if="!main.isEditing" class="well">
    <h4>Create a New Option</h4>
    <hr/>
    <form class="create-form" role="form" ng-submit="main.createOption(main.newOption)" novalidate>
      <div class="form-group">
        <label>Option name</label>
        <input type="text" class="form-control" ng-model="main.newOption.option_name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Option Value</label>
        <textarea class="form-control" ng-model="main.newOption.option_value" placeholder="Enter value"></textarea>
      </div>
      <button type="submit" class="btn btn-info btn-lg">Create</button>
    </form>
  </div>
  <!-- EDITING -->
  <div ng-if="main.isEditing" class="well">
    <h4>Editing {{main.editedOption.option_name}} {{main.editedOption.option_value}}</h4>
    <hr/>
    <form class="edit-form" role="form" ng-submit="main.updateOption(main.editedOption)" novalidate>
      <div class="form-group">
        <label>Option name</label>
        <input type="text" class="form-control" ng-model="main.editedOption.option_name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Option value</label>
        <textarea class="form-control" ng-model="main.editedOption.option_value" placeholder="Enter name"></textarea>
      </div>
      <button type="submit" class="btn btn-info btn-lg">Save</button>
      <button type="button" class="btn btn-default btn-lg pull-right" ng-click="main.cancelEditing()">Cancel</button>
    </form>
  </div>

</div>
