<!doctype html>
<html lang="en" id="pdf-export-html">
<head>
  <meta charset="utf-8">

  <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic&amp;subset=cyrillic-ext,cyrillic,latin,latin-ext' rel='stylesheet' type='text/css' />
  <link href='{{css}}' rel='stylesheet' type='text/css' />

</head>

<body>
  {{#if options.cover}}
  <div class="cover-front">
    <div class="logo"></div>
    <div class="title">
      <p class="name">Gemeindeliste<p>
      <p class="date">Februar 2016</p>
    </div>
  </div>
  {{/if}}
  <div class="person-list">
        {{#each personGroups}}
        {{#each this}}
        <div class="unbreakable">
        <div class="item">
          <div class="avatar">
            <div class="image" style="background-image:url('{{{avatarUrl this.id}}}');">
            </div>
          </div>
          <div class="text">
            <div class="top">
              <div class="info">
              <div class="name">{{this.lastName}}, {{this.firstName}} </div>
              <div class="str">{{this.address.home.street1}}</div>
              <div class="str">{{this.address.home.zipcode}} {{this.address.home.city}}</div>
              </div>
              <div class="dates">
                <div class="tel">G: {{{formatDateGerman this.dates.birthday}}}</div>
                <div class="tel">T: {{{formatDateGerman this.dates.baptism}}}</div>
                {{#if this.custom.b}}
                <div class="tel">B: {{this.custom.b}}</div>
                {{/if}}
              </div>
              <div class="contact">
                <div class="tel">Tel: {{this.contacts.home}}</div>
                <div class="tel">Mob: {{this.contacts.mobile}}</div>
              </div>
            </div>
            <div class="bottom">
              {{#if this.emails.personal}}
                <div class="tel">E-Mail: {{this.emails.personal}}</div>
              {{/if}}
              {{#if this.genChildren}}
                <div class="children">Kinder: {{this.genChildren}} </div>
              {{/if}}
              {{#if this.genGroups}}
                <div class="dienst">Dienste: {{this.genGroups}} </div>
              {{/if}}
            </div>
          </div>
        </div>
        </div>
        {{/each}}
        {{/each}}
  </div>

  {{#if options.cover}}
  <div class="cover-back">
  </div>
  {{/if}}

 </body>
</html>





