<!doctype html>
<html lang="en" id="pdf-export-html">
<head>
  <meta charset="utf-8">

  <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic&amp;subset=cyrillic-ext,cyrillic,latin,latin-ext' rel='stylesheet' type='text/css' />
  <link href='{{css}}' rel='stylesheet' type='text/css' />

</head>

<body id="pdf-export">
  <table border="0" width="100%">
        {{#each personGroups}}
          {{#each this}}
          <tr class="top">
              <td rowspan="2" class="td-image">
                  <div class="t-img" style="background-image:url('{{{avatarUrl this.id}}}');">
                  </div>
              </td>
              <td class="td-name">
                  <div class="name">{{this.lastName}}, {{this.firstName}} </div>
                      <div class="str">{{this.address.home.street1}}</div>
                      <div class="str">{{this.address.home.zipcode}} {{this.address.home.city}}</div>
              </td>
              <td  class="td-date">
                  <div class="tel">G: {{{formatDateGerman this.dates.birthday}}}</div>
                  <div class="tel">T: {{{formatDateGerman this.dates.baptism}}}</div>
              </td>  
              <td  class="td-contact">
                  <div class="tel">{{this.contacts.home}}</div>
                  <div class="tel">{{this.contacts.mobile}}</div>
              </td>  

          </tr>
          <tr class="bottom">
              <td colspan="3" class="more">
                  {{#if this.emails.personal}}
                    <div class="tel">EMail: {{this.emails.personal}}</div>
                  {{/if}}
                  {{#if this.genChildren}}
                    <div class="dienst">Kinder {{this.genChildrenl}}</div>   
                  {{/if}}
                  {{#if this.groups}}
                    <div class="dienst">Dienste:  
                      {{#each this.groups}}
                        {{this.name}},
                      {{/each}}
                    </div>  
                  {{/if}}
                     
                      
              </td>  
          </tr>
          {{/each}}
        {{/each}}
  </table>
  <table border="0" width="100%">
    {{#each dienste}}
      <tr>
        <td> {{@key}} </td>
        <td>
          <table>
            
           {{#each this}}
            <tr>
              <td>{{this.firstName}} {{this.lastName}}</td>
              <td>{{this.contacts.mobile}}</td>
            <tr>
          {{/each}}
          </table>
         
        </td>
      </tr>
    {{/each}}
  </table>
</body>
</html>
 
 

        
       
