<script type="text/ng-template" id="createNote.html">
  <md-dialog>
    <md-dialog-content>
      <h3 translate>Create new Note</h3>
      <md-radio-group ng-model="ctrl.type" class="radio-buttons-hz">
        <md-radio-button ng-repeat="notetype in ctrl.noteTypes"
                         ng-value="notetype.value"
                         aria-label="{{notetype.title}}">
          <md-tooltip>{{notetype.title}}</md-tooltip>
          <ng-md-icon icon="{{notetype.icon}}" style="fill:#61697E"></ng-md-icon>
        </md-radio-button>
      </md-radio-group>

      <md-input-container>
        <label translate>Title (optional)</label>
        <input ng-model="ctrl.title" type="text"/>
      </md-input-container>
      <md-input-container>
        <label translate>Note</label>
        <textarea ng-model="ctrl.content" rows="5" />
      </md-input-container>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="hide()"><translate>Cancel</translate></md-button>
        <md-button ng-click="create()" class="md-raised md-primary"><translate>Create Note</translate></md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>


<div class="md-actions note-add" layout="row" layout-align="center">
  <md-button class="md-icon-button launch" ng-click="ctrl.createDialog($event)">
    <ng-md-icon icon="message" options="{'duration': 300, 'rotation':'none'}"></ng-md-icon>
  </md-button>
</div>

