<md-card>
  <md-card-content>
    <h3 translate>Create new Note</h3>
    <md-input-container>
      <label translate>Title (optional)</label>
      <input ng-model="ctrl.title" type="text"/>
    </md-input-container>
    <md-input-container>
      <label translate>Note</label>
      <textarea ng-model="ctrl.content" rows="5" />
    </md-input-container>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="ctrl.create()" class="md-raised"><translate>Create Note</translate></md-button>
    </div>
  </md-card-content>

</md-card>
