<md-card ng-show="showNote">
  <md-card-content>
    <h3 translate>Create new Note</h3>
    <md-radio-group ng-model="ctrl.type" class="radio-buttons-hz">
      <md-radio-button ng-repeat="type in ctrl.noteTypes"
                        ng-value="type.value"
                       aria-label="{{type.title}}">
        <md-tooltip>{{type.title}}</md-tooltip>
        <ng-md-icon icon="{{type.icon}}" style="fill:#61697E"></ng-md-icon>
      </md-radio-button>
    </md-radio-group>

    <md-input-container>
      <label translate>Title (optional)</label>
      <input ng-model="ctrl.title" type="text"/>
    </md-input-container>
    <md-input-container>
      <label translate>Note</label>
      <textarea ng-model="ctrl.content" rows="5" />
    </md-input-container>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-click="showNote = false"><translate>Cancel</translate></md-button>
      <md-button ng-click="ctrl.create()" class="md-raised md-primary"><translate>Create Note</translate></md-button>
    </div>
  </md-card-content>

</md-card>

<md-card class="md-2-line" ng-show="!showNote">
  <md-card-content flex layout="row">
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button ng-click="showNote = true" class="md-raised"><translate>New Note</translate></md-button>
    </div>
  </md-card-content>
</md-card>
