.mh-dropdown-menu {
  position: absolute;
  border-radius: $border-radius; 
  box-shadow : 0 2px 6px rgba(0, 0, 0, 0.15);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1050;
  
  transform-origin: top left;
  background-color: '{{primary-500}}';
  color: '{{foreground-1}}';
  
  li > a{
    color: inherit;
    padding: 8px 16px;
  }
  
  li > a:hover,
  li > a:focus,
  .active > a,
  .active > a:hover, 
  .active > a:focus{
    background-image: none;
    filter: none;
  }
  
}

.md-dropdown-pull-left{
  left:100%;
}
  
.md-dropdown-pull-right{
  right: 0px;
  transform-origin: top right;
}
  
.md-dropdown-pull-up{
  top: 0;
}
  
.mh-dropdown-menu-scale{
  display: block;
  opacity: 0; 
  scale: 0;
  transition: all 0.25s;
  backface-visibility: hidden;
}

.mh-dropdown-open {
  opacity: 1;
  scale: 1;
}
