/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* here beginns the pdf export specific part*/
html#pdf-export-html, body#pdf-export {
  $image-width: 90px;
  $image-padding: 2px;
  $image-height: $image-width + 2*$image-padding;

  background-color: white !important;
  margin: 0;
  font-size: 11px;
  line-height: 120%;
  font-family: 'Tinos';

  table
  {
      border-collapse: collapse;
  }
  tr
  {
      border-top: 1px solid black;
  }
  .top {
      border-bottom: none;
      padding-top: 4px;
      page-break-inside: avoid !important;
  }
  .bottom {
      border-top: none;
      page-break-inside: avoid !important;
  }

  td {
    // padding: 1em
  }
  .td-image {
      width: $image-width + 4px;
      padding: $image-padding;
  }

  .t-img {
      height: $image-height;
      width: $image-height;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 8px;
  }
  .td-name {
      padding-left: 3px;
      width: 180px;
      padding-top: 3px;
      vertical-align:text-top;
  }
  .td-date {
      width: 90px;
      padding-top: 3px;
      vertical-align:text-top;

  }
  .td-contact {
      padding-top: 3px;
      vertical-align:text-top;
  }
  .more {
      padding-left: 3px;
      color: #181818;
      vertical-align:bottom;
      padding-bottom: 3px;
  }
  .name {
      font-weight: 700;
      margin-bottom: 2px;
  }
}

$margin-left: 10mm;
$margin-right: 10mm;
$margin-top: 5mm;
$margin-bottom: 10mm;//+1.5mm so it don't overflow
$page-width: 148mm - $margin-left - $margin-right;
$page-height: 210mm - $margin-top - $margin-bottom;

.cover-front {
  display: block;
  width: $page-width;
  height: $page-height;
  page-break-after: always;
  page-break-inside: avoid;

  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;
  .logo {
    background-image: url('http://www.ecg-berlin.de/templates/boothtml5/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
  }
  .title {
    padding-top: 600px;
    text-align: right;
    padding-right: 2em;
    .name {
      font-size: 28px;
      color: white;
    }
    .date {
      font-size: 16px;
      padding-top: 1em;
      color: white;
    }
  }
}
.cover-back {
  display: block;
  width: $page-width;
  height: $page-height;
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;

}

