@import "reset";
$image-width: 90px;
$image-padding: 2px;
$image-height: $image-width + 2*$image-padding;

html, body {
  background-color: white !important;
  margin: 0;
  font-size: 11px;
  line-height: 120%;
  font-family: 'Tinos';
}

.person-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    width: 100%;
    .avatar {
      
      width: $image-width + 4px;
      padding: $image-padding;
      
      .image {
        height: $image-height;
        width: $image-height;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 8px;
      }
    }
    .text  {
      display: flex;
      flex-direction: column;
      padding-left: 0.5em;
      .top {
        display: flex;
        flex-direction: row;
        padding-top: 0.5em;
        .info {
          .name {
            font-weight: 700;
            margin-bottom: 2px;
          }
          width: 180px;
        }
        
        .dates {
          width: 90px;
        }
        
        .contact {
          display: block;
          min-width: 70px;
          padding-top: 3px;
        }
      }
      
      .bottom {
        
      }
    }
  }
  .unbreakable {
    display:inline-block;
  }
  .unbreakable:after {
    content: '';
    display:block;
    height:0px;
    visibility: hidden;
  }
}


$margin-left: 10mm;
$margin-right: 10mm;
$margin-top: 5mm;
$margin-bottom: 10mm;//+1.5mm so it don't overflow
$page-width: 148mm - $margin-left - $margin-right;
$page-height: 210mm - $margin-top - $margin-bottom;

.cover-front {
  display: block;
  width: $page-width;
  height: $page-height;
  page-break-after: always;
  page-break-inside: avoid;

  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;
  .logo {
    background-image: url('http://www.ecg-berlin.de/templates/boothtml5/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
  }
  .title {
    padding-top: 600px;
    text-align: right;
    padding-right: 2em;
    .name {
      font-size: 28px;
      color: white;
    }
    .date {
      font-size: 16px;
      padding-top: 1em;
      color: white;
    }
  }
}
.cover-back {
  display: block;
  width: $page-width;
  height: $page-height;
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  background-image: url('https://unsplash.it/1748/2480?image=987');
  background-size: cover;

}

