<div class="portlet portlet-default light" ng-controller="PersonEditController as personCtrl">
  {{person=personCtrl.person;""}}
  <div class="portlet-title tabbable-line">
    <div class="caption caption-md">
      <span class="caption-subject uppercase bold font-blue-madison">
        {{personCtrl.getTitle()}}
      </span>
    </div>

    <form ng-submit="personCtrl.save()">
      <tabset>
        <tab>
          <tab-heading>
            <fa name="user"></fa> <translate>Personal</translate>
          </tab-heading>
          <div class="tab-personal row" ng-include="'person/views/person.edit.tab.personal.html'"></div>
        </tab>
        <tab>
          <tab-heading>
            <fa name="home"></fa> <translate>Addresses</translate>
          </tab-heading>
          <div class="tab-addresses row" ng-include="'person/views/person.edit.tab.addresses.html'"></div>
        </tab>
        <tab>
          <tab-heading>
            <fa name="photo"></fa> <translate>Avatar</translate>
          </tab-heading>
          <div class="tab-avatar" ng-include="'person/views/person.edit.tab.avatar.html'"></div>
        </tab>
        <tab>
          <tab-heading>
            <fa name="users"></fa> <translate>Roles</translate>
          </tab-heading>
          <div class="tab-roles" ng-include="'person/views/person.edit.tab.roles.html'"></div>
        </tab>
        <tab>
          <tab-heading>
            <fa name="unlock"></fa> <translate>Rights</translate>
          </tab-heading>
          <div class="tab-rights" ng-include="'person/views/person.edit.tab.rights.html'"></div>
        </tab>
      </tabset>


      <button type="submit" class="btn green-haze save-btn" translate>Save Changes</button>

    </form>

  </div>
</div>
