<div ng-controller="PersonViewController as personCtrl">
  {{person=personCtrl.person;""}}

  <div class="portlet-default">

    <div class="row">
      <div class="col-md-3">
        <img src="http://placehold.it/400x400" class="img-responsive"/>
      </div>

      <div class="col-md-9">
        <h1 class="topheading">
          <b>{{person.firstName}} {{person.middleName}}</b>
          {{person.lastName}}
          <small class="text-muted" ng-if="person.nickName">({{person.nickName}})</small>
        </h1>

        <div class="row">
          <div class="col-md-3">
            <ng-include src="'person/views/person.view.details.html'"></ng-include>
          </div>
          <div class="col-md-3">
            <ng-include src="'person/views/person.view.contacts.html'"></ng-include>
          </div>
          <div class="col-md-3">
            <ng-include src="'person/views/person.view.addresses.html'"></ng-include>
          </div>
        </div>

        <div class="householdMembers" ng-if="person.household">
          <ng-include src="'person/views/person.view.household.html'"></ng-include>
        </div>

      </div>

    </div>
  </div>


</div>
