<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a href="#" translate>Home</a><i class="fa fa-circle"></i>
  </li>
  <li class="active">
    <translate>Person</translate>
  </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div ng-controller="PersonController as personCtrl" class="person-list">
  <dir-pagination-controls boundary-links="true" on-page-change="personCtrl.pageChanged(newPageNumber)"
    template-url="_global/tpl/dirPagination.html">
  </dir-pagination-controls>

  <table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
      <th></th>
      <th translate>Person details</th>
      <th translate>Ministries</th>
      <th translate>Roles</th>
      <th translate>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="person in personCtrl.persons | itemsPerPage: personCtrl.pageSize"
        total-items="personCtrl.totalPersons">

      <script type="text/ng-template" id="household-popover">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
          <h3>{{::person.household.householdName}}</h3>
          <ul>
            <li ng-repeat="person in person.household.persons">
              <a ui-sref="person.view({ id: person.id })">{{::person | formatName}}
                <span ng-if="person.relationType">({{::personCtrl.relationTypes[person.relationType.type]}})</span>
              </a>
            </li>
          </ul>
        </div>
      </script>

      <td>
        <a ui-sref="person.view({ id: person.id })">
          <img src="http://placehold.it/80x80" />
        </a>
      </td>
      <td>
        <h3>
          <a ui-sref="person.view({ id: person.id })">
            {{::person | formatName}}
          </a>
        </h3>
        <ul class="list-inline text-muted">
          <li ng-if="person.household" ns-popover ns-popover-template="household-popover"
              ns-popover-trigger="mouseenter" ns-popover-placement="bottom" ns-popover-timeout="0.2" ns-popover-theme="ns-popover-tooltip-theme">
            <fa name="users"></fa> <a>{{ ::person.household.householdName }}</a>
          </li>
          <li ng-if="person.birthdate" title="{{'Birthdate' | translate}}">
            <fa name="calendar"></fa> {{::person.birthdate | date:medium}}
          </li>
          <li ng-if="person.account.email" title="{{'Email' | translate}}">
            <fa name="envelope"></fa> <a href="mailto:{{ ::person.account.email }}">{{ ::person.account.email }}</a>
          </li>
          {{contactHome = personCtrl.getContacts(person, 'home');""}}
          <li ng-if="contactHome.value" title="{{'Home phone' | translate}}">
            <fa name="phone"></fa> <a href="tel:{{ ::contactHome.value }}">{{ ::contactHome.value }}</a>
          </li>
          {{contactWork = personCtrl.getContacts(person, 'work');""}}
          <li ng-if="contactWork.value" title="{{'Work phone' | translate}}">
            <fa name="phone"></fa> <a href="tel:{{ ::contactWork.value }}">{{ ::contactWork.value }}</a>
          </li>
          {{contactMobile = personCtrl.getContacts(person, 'mobile');""}}
          <li ng-if="contactMobile.value" title="{{'Mobile phone' | translate}}">
            <fa name="mobile"></fa> <a href="tel:{{ ::contactMobile.value }}">{{ ::contactMobile.value }}</a>
          </li>
          {{contactFacebook = personCtrl.getContacts(person, 'facebook');""}}
          <li ng-if="contactFacebook.value" title="{{'Facebook' | translate}}">
            <a target="_blank" href="{{ ::contactFacebook.value | formatFacebookUrl }}"><fa name="facebook"></fa></a>
          </li>
          {{contactSkype = personCtrl.getContacts(person, 'skype');""}}
          <li ng-if="contactSkype.value" title="{{'Skype' | translate}}">
            <a href="{{ ::contactSkype.value | formatSkypeUrl }}"><fa name="skype"></fa></a>
          </li>
        </ul>
      </td>
      <td>
        <span ng-repeat="ministry in person.ministries" class="label label-success">
          {{ ::ministry.ministry }}
        </span>
      </td>
      <td></td>
      <td class="actions">
        <a class="btn btn-danger btn-sm hidden" aria-label="{{'Delete' | translate}}"
           ng-click="personCtrl.deletePerson(person)"
           confirm="Delete “{{::person | formatName}}”?">
          <fa name="trash"></fa>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <dir-pagination-controls boundary-links="true" on-page-change="personCtrl.pageChanged(newPageNumber)"
    template-url="_global/tpl/dirPagination.html">
  </dir-pagination-controls>

</div>
