<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a href="#" translate>Home</a><i class="fa fa-circle"></i>
  </li>
  <li class="active">
    <translate>Person</translate>
  </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div ng-controller="PersonController as personCtrl">
  <table class="table table-striped table-bordered table-advance table-hover">
    <thead>
    <tr>
      <th></th>
      <th translate>Person details</th>
      <th translate>Ministries</th>
      <th translate>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="person in personCtrl.persons | itemsPerPage: personCtrl.pageSize"
        total-items="personCtrl.totalPersons">

      <script type="text/ng-template" id="household-popover">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
          <h3 translate>Household</h3>
          <ul>
            <li ng-repeat="person in person.household.persons">
              <a>{{person.firstName}} {{person.middleName}} {{person.lastName}}</a>
            </li>
          </ul>
        </div>
      </script>

      <td>
        <img src="http://placehold.it/80x80" />
      </td>
      <td>
        <h3>{{person.firstName}} {{person.middleName}} {{person.lastName}}</h3>
        <ul class="list-inline text-muted">
          <li ng-if="person.household" ns-popover ns-popover-template="household-popover"
              ns-popover-trigger="mouseenter" ns-popover-placement="bottom" ns-popover-timeout="0.5" ns-popover-theme="ns-popover-tooltip-theme">
            <fa name="users"></fa> <a>{{ person.household.familyName }}</a>
          </li>
          <li ng-if="person.birthdate" title="{{'Birthdate' | translate}}">
            <fa name="calendar"></fa> {{person.birthdate | date:medium}}
          </li>
          <li ng-if="person.account.email" title="{{'Email' | translate}}">
            <fa name="envelope"></fa> <a href="mailto:{{ person.account.email }}">{{ person.account.email }}</a>
          </li>
          <li ng-if="personCtrl.getContacts(person, 'home')" title="{{'Home phone' | translate}}">
            <fa name="phone"></fa> <a href="tel:{{ personCtrl.getContacts(person, 'home') }}">{{ personCtrl.getContacts(person, 'home') }}</a>
          </li>
          <li ng-if="personCtrl.getContacts(person, 'work')" title="{{'Work phone' | translate}}">
            <fa name="phone"></fa> <a href="tel:{{ personCtrl.getContacts(person, 'work') }}">{{ personCtrl.getContacts(person, 'work') }}</a>
          </li>
          <li ng-if="personCtrl.getContacts(person, 'mobile')" title="{{'Mobile phone' | translate}}">
            <fa name="mobile"></fa> <a href="tel:{{ personCtrl.getContacts(person, 'mobile') }}">{{ personCtrl.getContacts(person, 'mobile') }}</a>
          </li>
          <li ng-if="personCtrl.getContacts(person, 'facebook')" title="{{'Facebook' | translate}}">
            <a target="_blank" href="{{ personCtrl.getContacts(person, 'facebook') | contactFacebook }}"><fa name="facebook"></fa></a>
          </li>
          <li ng-if="personCtrl.getContacts(person, 'skype')" title="{{'Skype' | translate}}">
            <a href="{{ personCtrl.getContacts(person, 'skype') | contactSkype }}"><fa name="skype"></fa></a>
          </li>
        </ul>
      </td>
      <td>
        <span ng-repeat="ministry in person.ministries" class="label label-success">
          {{ ministry.ministry }}
        </span>
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <dir-pagination-controls boundary-links="true" on-page-change="personCtrl.pageChanged(newPageNumber)"
    template-url="tpl/dirPagination.html">
  </dir-pagination-controls>


  <div ng-if="!personCtrl.isEditing" class="well">
      <h4>Create a New Person</h4>
      <hr/>
      <form class="create-form" role="form" ng-submit="personCtrl.createPerson(personCtrl.newPerson)" novalidate>
          <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" ng-model="personCtrl.newPerson.firstName" placeholder="Enter name">
          </div>
          <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" ng-model="personCtrl.newPerson.lastName" placeholder="Enter name">
          </div>
          <div class="form-group">
              <label>Gender</label>
              <input type="text" class="form-control" ng-model="personCtrl.newPerson.gender" placeholder="Enter gender">
          </div>
          <div class="form-group">
              <label>EMail</label>
              <input type="text" class="form-control" ng-model="personCtrl.newPerson.email" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-info btn-lg">Create</button>
      </form>
  </div>
      <!-- EDITING -->
  <div ng-if="personCtrl.isEditing" class="well">
      <h4>Editing {{personCtrl.editedPerson.firstName}} {{personCtrl.editedPerson.lastName}}</h4>
      <hr/>
      <form class="edit-form" role="form" ng-submit="personCtrl.updatePerson(personCtrl.editedPerson)" novalidate>
          <div class="form-group">
              <label>First name</label>
              <input type="text" class="form-control" ng-model="personCtrl.editedPerson.firstName" placeholder="Enter name">
          </div>
          <div class="form-group">
              <label>Last name</label>
              <input type="text" class="form-control" ng-model="personCtrl.editedPerson.lastName" placeholder="Enter name">
          </div>
          <div class="form-group">
              <label>Gender</label>
              <input type="text" class="form-control" ng-model="personCtrl.editedPerson.gender" placeholder="Enter gender">
          </div>
          <div class="form-group">
              <label>EMail</label>
              <input type="text" class="form-control" ng-model="personCtrl.editedPerson.email" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-info btn-lg">Save</button>
          <button type="button" class="btn btn-default btn-lg pull-right" ng-click="personCtrl.cancelEditing()">Cancel</button>
      </form>
  </div>

</div>
