/*********************************
 METRONIC ROUNDED STYLE COMPONENTS
*********************************/
@import 'variables';

$theme-style: 'rounded';

@import 'components/mixins';

@import 'components/reset-general';
@import 'components/typography';
@import 'components/utils';
@import 'components/font-icons';

@import 'components/alerts';
@import 'components/badges';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/charts';
@import 'components/chats';
@import 'components/close';
@import 'components/dropdowns';
@import 'components/feeds';
@import 'components/form-layouts';
@import 'components/forms';
@import 'components/icon-buttons';
@import 'components/input-icons';
@import 'components/labels';
@import 'components/list-groups';
@import 'components/loaders';
@import 'components/metro-icons';
@import 'components/modals';
@import 'components/notes';
@import 'components/pagination';
@import 'components/panels';
@import 'components/popovers';
@import 'components/portlets';
@import 'components/progress-bars';
@import 'components/statistic-blocks';
@import 'components/social-icons';
@import 'components/tables';
@import 'components/tabs';
@import 'components/tiles';
@import 'components/wells';
@import 'components/animate';

// Apply flat UI colors to all components
@import 'components/flatui-color-variants';


