 <md-chips
   ng-model="queryModel"
   md-autocomplete-snap
   md-transform-chip="transformChip($chip)"
   md-require-match="true">

  <md-autocomplete
    md-selected-item="selectedItem"
    md-search-text="searchText"
    md-items="item in querySearch(searchText)"
    md-item-text="item.name"
    placeholder="Search for a vegetable">
        <span md-highlight-text="searchText">{{item.name}}</span>
  </md-autocomplete>

  <md-chip-template>
    <span>
      <strong>{{$chip.name}}</strong>
      <input ng-model="$chip.value">
    </span>
  </md-chip-template>
</md-chips>
