<h1>{{groupCtrl.group.name}}</h1>
<p class="text-muted">{{groupCtrl.group.description}}</p>

<div class="mh-content">
  <h2>Members</h2>
  <md-list>
    <md-list-item ng-repeat="person in groupCtrl.persons">
     <mh-avatar person="person" size="xs" circle></mh-avatar>
      <div flex class="md-list-item-text">
        <b>{{person.firstName}} {{person.lastName}}</b>
        <md-button ng-click="householdCtrl.unlink(person.id)">
          <ng-md-icon icon="delete">
        </nd-md-icon> 
      </md-button>
    </md-list-item>
  </md-list>
</div>

<a ui-sref="group.edit({id: groupCtrl.group.id})">
  <md-button class="md-fab md-fab-floating-br md-accent" aria-label="Edit Group">
    <ng-md-icon icon="edit"></ng-md-icon>
  </md-button>
</a>