<!-- BEGIN PORTLET-->
<div class="portlet portlet-sortable light bordered">

  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i>Users
    </div>
    <div class="actions">
      <a href="#portlet-config" class="btn btn-default btn-sm config" data-toggle="modal">
        <i class="fa fa-pencil"></i> Edit </a>
      <a href="#" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i> Add </a>
      <a href="#" class="remove">
      </a>
    </div>
  </div>

  <div class="portlet-body">
    <div class="row">
      <div class="dashboard-stat blue-madison">
        <div class="visual">
          <i class="fa fa-users"></i>
        </div>
        <div class="details">
          <div class="number">
            {{ userCount }}
          </div>
          <div class="desc">
            Users
          </div>
        </div>
        <div class="actions">
          <a class="more" href="#person">
            View more <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- END PORTLET-->
