<form ng-submit="householdCtrl.save()">
  
    <div layout="column" class="mh-content">
      <md-input-container flex="40">
        <label><translate>Household Name</translate></label>
        <input ng-model="householdCtrl.household.name">
      </md-input-container>

      <md-input-container flex="40">
        <label><translate>Letter Salutation</translate></label>
        <input ng-model="householdCtrl.household.letterSalutation">
      </md-input-container>

      <md-select placeholder="{{'Select household type'|translate}}" ng-model="householdCtrl.household.type" flex="20">
        <md-option value="family"><translate>Family</translate></md-option>
        <md-option value="sharedFlat"><translate>Shared Flat</translate></md-option>
        <md-option value="other"><translate>Other</translate></md-option>
      </md-select>
    </div>
    <div class="mh-content">
      <h2> Members </h2>
      <md-list>
      <md-list-item
        ng-repeat="person in householdCtrl.household.persons"
        flex layout="row"
        class="person-list-item"
      >
      <mh-avatar 
        person="person" 
        size="xs" 
        circle 
        ui-sref="person.view({ id: person.id })" 
        class="avatar">
      </mh-avatar>
      <a ui-sref="person.view({ id: person.id })">
        {{::person.firstName}} {{::person.lastName}} 
      </a>
      <md-button ng-click="householdCtrl.unlink(person.id)">
        <ng-md-icon icon="delete"></nd-md-icon> Delete from this Household
      </md-button>
    
  </md-list-item>
</md-list>
    </div>
    </div>
    <div class="mh-content">
      <h2> Address </h2>
      <mh-address-edit address="householdCtrl.household.address"></mh-address-edit>
    </div>
    
    <md-button ng-disabled="personEdit.$invalid" class="md-raised md-primary" type="submit"><translate>Save Changes</translate></md-button>
    <md-button ng-disabled="personEdit.$invalid" class="md-raised" ng-click="householdCtrl.saveAndClose()"><translate>Save and Close</translate></md-button>
    <md-button ng-disabled="personEdit.$invalid" class="md-raised" ng-click="householdCtrl.saveAndNew()"><translate>Save and New</translate></md-button>

</form>
