<form name="personEdit" novalidate>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="account_box"></ng-md-icon> <translate> Personal</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-personal" ng-include="'app/modules/person/views/person.edit.tab.personal.html'"></div>
      </md-tab-body>
    </md-tab>
    
    
    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="directions"></ng-md-icon> <translate>Addresses</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-addresses" ng-include="'app/modules/person/views/person.edit.tab.addresses.html'"></div>
      </md-tab-body>
    </md-tab>
    
    
    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="photo"></ng-md-icon> <translate>Avatar</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-avatar" ng-include="'app/modules/person/views/person.edit.tab.avatar.html'"></div>
      </md-tab-body>
    </md-tab>
    
    
    <md-tab>
      <md-tab-label>
        <ng-md-icon icon="security"></ng-md-icon><translate>Roles</translate>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <div class="tab-roles" ng-include="'app/modules/person/views/person.edit.tab.roles.html'"></div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  
  <div layout-align="center end">
    <md-button class="md-primary" ng-click="personCtrl.save()">
      <translate>Save Changes</translate>
    </md-button>
    <md-button ng-click="personCtrl.saveAndClose()"><translate>Save and Close</translate></md-button>
    <md-button ng-click="personCtrl.saveAndNew()"><translate>Save and New</translate></md-button>
  </div>
</form>
