<ul class="list-unstyled">
  <li ng-if="personCtrl.person.birthdate" title="{{personCtrl.person.birthdate | amDateFormat:'ll'}}">
    {{years = (personCtrl.person.birthdate | fromNow: true);""}}
    <translate>{{years}} old</translate>
  </li>
  <li ng-show="personCtrl.person.baptismDate" title="{{personCtrl.person.baptismDate | amDateFormat:'ll'}}">
    {{years = (personCtrl.person.baptismDate | fromNow: true);""}}
    <translate>Baptized {{years}} ago</translate>
  </li>
  <li>
    {{personCtrl.genders[personCtrl.person.gender]}}
  </li>
</ul>
