<mh-person-search>
</mh-person-search>
 <md-fab-speed-dial class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>