<div class="person-view">

  <div layout="column" class="md-padding">
    <div>
      <h3>
        {{personCtrl.person.firstName}} {{personCtrl.person.middleName}} {{personCtrl.person.lastName}}
        <small class="text-muted" ng-if="personCtrl.person.nickName">
          ({{personCtrl.person.nickName}})
        </small>
        <ng-md-icon size="18" icon="edit" ui-sref="person.edit({ id: personCtrl.person.id })">
        </ng-md-icon>
      </h3>
    </div>
    <div>
      <div>
        <fa name="info"></fa>
        <span ng-repeat="status in personCtrl.person.status" class="tag status-tag" style="margin-right: 2px">
        {{ status }}
        </span>
      </div>
      <div>
        <fa name="tags"></fa>
        <span ng-repeat="tag in personCtrl.person.tags" class="tag"><md-chip>{{tag}}</md-chip></span>
      </div>
     </div>
    </div>
  </div>

  <div layout-gt-md="row">
    <div flex layout="column" class="md-padding">
      <div>
        <img ng-src="{{personCtrl.person.avatarUrl_s}}" />
      </div>
      <div>
        <h4 translate>Contact</h4>
        <div ng-include="'app/modules/person/views/person.view.contacts.html'"></div>
      </div>
    </div>

    <div flex="80">
      <md-tabs md-dynamic-height md-border-bottom class="md-padding">
        <md-tab>
          <md-tab-label>
            <fa name="comments"></fa> <translate>History</translate>
          </md-tab-label>
          <md-tab-body class="md-padding">
            <md-card class="md-2-line" ng-repeat="note in personCtrl.notes">
              <md-card-content flex layout="row">
                <div flex class="md-list-item-text">
                  <h4>{{note.title}}</h4>
                  <ng-md-icon size="18" icon="{{personCtrl.icon(note.type)}}" ng-if="note.type"></ng-md-icon>
                  <ng-md-icon size="18" icon="chat" ng-if="!note.type"></ng-md-icon>
                  <small><i><span am-time-ago="note.created"></span>
                    <translate>from</translate> <a ui-sref="person.view({ id: note.ownerId })">{{note.ownerId}}</a></i></small>
                  <p>{{note.content}}</p>
                </div>
              </md-card-content>
            </md-card>

          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <fa name="user"></fa> <translate> Personal</translate>
          </md-tab-label>
          <md-tab-body class="md-padding" layout="column">

            <h4 translate>Household details</h4>
            <div ng-include="'app/modules/person/views/person.view.household.html'"></div>

            <h4 translate>Personal details</h4>
            <div ng-include="'app/modules/person/views/person.view.details.html'"></div>

            <h4 translate>Contact details</h4>
            <div ng-include="'app/modules/person/views/person.view.contacts.html'"></div>

            <h4 translate>Address details</h4>
            <div ng-include="'app/modules/person/views/person.view.addresses.html'"></div>

          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </div>
        <mh-note-create
            notable-type="Person"
            notable-id="{{personCtrl.person.id}}"
            new-note="personCtrl.newNote(note)" button-class="md-fab md-raised md-accent md-fab-floating-br"></mh-note-create>
</div>
