<mh-panel>
  <div ng-controller="PersonExportController as personCtrl">
    <mh-panel-header>
      <translate>Export Persons</translate>
    </mh-panel-header>

    <mh-panel-body>
      <md-button class="md-raised md-primary" ng-click="personCtrl.export()" translate>
        Export
      </md-button>

      <div id="export-html">
        <style>
          #html-gen-container {
            margin: 0;
            font-size: 12px;
            line-height: 120%;
            font-family: 'Tinos', serif;
          }

          #html-gen-container table {
            border-collapse: collapse;
          }

          #html-gen-container tr {
            border-top: 1px solid black;
          }

          #html-gen-container .top {
            border-bottom: none;
            padding-top: 3px;
          }

          #html-gen-container .bottom {
            border-top: none;
          }

          #html-gen-container table {
            page-break-inside: avoid !important;
          }

          #html-gen-container .image {
            width: 93px;
            height: 93px;
          }

          #html-gen-container .td-image {
            width: 97px;
            padding: 2px;
          }

          #html-gen-container .t-img {
            height: 93px;
            width: $ image-width;
            background-repeat: no-repeat;
            background-size: contain;
          }

          #html-gen-container .td-name {
            padding-left: 3px;
            width: 180px;
            padding-top: 3px;
            vertical-align: text-top;
          }

          #html-gen-container .td-date {
            width: 90px;
            padding-top: 3px;
            vertical-align: text-top;

          }

          #html-gen-container .td-contact {
            padding-top: 3px;
            vertical-align: text-top;
          }

          #html-gen-container .more {
            padding-left: 3px;
            color: #181818;
            vertical-align: bottom;
            padding-bottom: 3px;
          }

          #html-gen-container .name {
            font-weight: 700;
            margin-bottom: 2px;
          }
        </style>
        <div class="html-gen-container">
          <table border="0" width="100%" ng-repeat="person in personCtrl.persons">
            <div class="break">
              <tr class="top">
                <td rowspan="2" class="td-image">
                  <div class="image">
                    <div class="t-img"></div>
                </td>
                <td class="td-name">
                  <div class="name">{{person.firstName}}, {{person.lastName}}</div>
                  <div class="str">{{person.address.home.street1}} {{person.address.home.street2}}</div>
                  <div class="str">{{person.address.home.zipcode}} {{person.address.home.city}}</div>
                </td>
                <td class="td-date">
                  <div class="tel">{{person.birthday}}</div>
                  <div class="tel">{{person.baptismDate}}</div>
                </td>
                <td class="td-contact">
                  Telefon:<br/>

                  <div class="tel">{{person.contact.home}}</div>
                  <div class="tel">{{person.contact.mobile}}</div>
                </td>

              </tr>
              <tr class="bottom">
                <td colspan="3" class="more">
                  <div class="tel">{{person.email}}</div>
                  <div class="dienst">{{person.duties}}</div>
                </td>
              </tr>
            </div>
          </table>
        </div>
      </div>
    </mh-panel-body>
  </div>
</mh-panel>
