<div class="mh-content">
  <div ng-if="person.hasAvatar && !isEditingAvatar">
    <mh-avatar person="person" size="s"></mh-avatar>
    <md-button ng-click="personCtrl.removeAvatar()">Remove Avatar</md-button>
  </div>

  <div ng-if="!person.hasAvatar">
    <label for="avatar" translate>Select Avatar</label>
    <div
      ngf-drop
      ngf-select
      ng-model="files"
      class="drop-zone"
      ngf-drag-over-class="dragover"
      ngf-multiple="false"
      ngf-allow-dir="false"
      accept="image/*"
      ngf-change="personCtrl.onAvatarSelected($files, $event)">
        <translate>Drop images here or click to upload</translate>
    </div>
    <div ngf-no-file-drop><translate>File Drag/Drop is not supported for this browser</translate></div>

    <img id="avatar_preview" />
  </div>
</div>
