<mh-panel>
  <div ng-controller="PersonEditController as personCtrl">
    {{person=personCtrl.person;""}}

    <mh-panel-header>
      <a ui-sref="person.view({ id: person.id })">
        <ng-md-icon icon="account_box"></ng-md-icon>
      </a>
      {{personCtrl.getTitle()}}</mh-panel-header>
    <mh-panel-body>

      <form name="personEdit" novalidate>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab>
            <md-tab-label>
              <fa name="user"></fa> <translate> Personal</translate>
            </md-tab-label>
            <md-tab-body class="md-padding">
              <div class="tab-personal" ng-include="'modules/person/views/person.edit.tab.personal.html'"></div>
            </md-tab-body>
          </md-tab>
         <md-tab>
            <md-tab-label>
              <fa name="home"></fa> <translate>Addresses</translate>
            </md-tab-label>
           <md-tab-body class="md-padding">
              <div class="tab-addresses" ng-include="'modules/person/views/person.edit.tab.addresses.html'"></div>
           </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <fa name="photo"></fa> <translate>Avatar</translate>
            </md-tab-label>
            <md-tab-body class="md-padding">
              <div class="tab-avatar" ng-include="'modules/person/views/person.edit.tab.avatar.html'"></div>
            </md-tab-body>
          </md-tab>
          <md-tab>
            <md-tab-label>
             <fa name="users"></fa> <translate>Roles</translate>
            </md-tab-label>
            <md-tab-body class="md-padding">
              <div class="tab-roles" ng-include="'modules/person/views/person.edit.tab.roles.html'"></div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
        <md-button ng-disabled="personEdit.$invalid" class="md-raised md-primary"
                   ng-click="personCtrl.save(personEdit.$valid)" type="submit">
          <translate>Save Changes</translate>
        </md-button>
        <md-button ng-disabled="personEdit.$invalid" class="md-raised" ng-click="personCtrl.saveAndClose()"><translate>Save and Close</translate></md-button>
        <md-button ng-disabled="personEdit.$invalid" class="md-raised" ng-click="personCtrl.saveAndNew()"><translate>Save and New</translate></md-button>
      </form>
    </mh-panel-body>
  </div>
</mh-panel>
