<div class="mh-content"  ng-controller="PersonExportPDFController as personCtrl">
  <h2 translate> PDF Export </h2>
  <p translate> You can download all the contacts saved in Memberhive as a PDF.</p>
  <div layout="column">
    <md-input-container>
      <label translate>Filter by Status</label>
      <mh-person-status ng-model="status"></mh-person-status>
    </md-input-container>

    <md-input-container>
      <label translate>Filter by Tag</label>
      <mh-person-tags ng-model="tag"></mh-person-tags>
    </md-input-container>

    <md-input-container>
      <label translate>Filter by Group</label>
      <mh-person-group ng-model="groups"></mh-person-group>
    </md-input-container>

    <md-switch ng-model="personCtrl.config.cover" aria-label="Generate Cover">
      <translate>Include Cover</translate>
    </md-switch>

  </div>
  <md-button class="md-primary md-raised" ng-click="personCtrl.getPDF(groups, status, tag)">
    <translate>Download</translate>
  </md-button>
</div>
