<div ng-if="person.hasAvatar && !personCtrl.isEditingAvatar">
  <gem-avatar person="person" size="s"></gem-avatar>
  <a ng-click="personCtrl.editAvatar()">Edit Avatar</a>
  <a ng-click="personCtrl.removeAvatar()">Remove Avatar</a>
</div>

<div ng-if="!person.hasAvatar || personCtrl.isEditingAvatar">
  <label for="avatar" translate>Select Avatar</label>
  <input id="avatar" type="file" ngf-select ngf-change="personCtrl.onAvatarSelected($files, $event)" ngf-accept="'image/*'">

  <div class="cropArea">
    <img-crop image="personCtrl.uploadedAvatar"
              result-image="personCtrl.croppedAvatar"
              area-type="square"
              result-image-size="800"
              result-image-format="image/jpeg">
    </img-crop>
  </div>
  <a class="btn btn-default" ng-if="personCtrl.isEditingAvatar" ng-click="personCtrl.cancelEditingAvatar()">Cancel Editing</a>
</div>
