<div class="col-md-12">
  <h3>
    {{::person.household.householdName}}
  </h3>
</div>

<div class="col-md-9 householdMembers">
  <ul class="list-inline">
    <li ng-repeat="person in personCtrl.getHouseholdMembers()">
      <a ui-sref="app.person.view({ id: person.id })">
        <gem-avatar class="pull-left" person="person" size="xs"></gem-avatar>
        <div class="person-info">
          <h4><b>{{::person | formatFirstName}}</b></h4>
          <small class="text-muted" ng-if="person.relationType">
            {{::personCtrl.relationTypes[person.relationType.type]}}
          </small>
          <br/>
          <small>{{::person.birthdate | fromNow: true}}</small>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="col-md-3">
  <b translate>Household Address</b>
  <formataddress address="::person.household.address"></formataddress>
</div>
