<mh-content>
  <div ng-if="person.hasAvatar && !isEditingAvatar">
    <mh-avatar person="person" size="s"></mh-avatar>
    <md-button ng-click="isEditingAvatar = true">Edit Avatar</md-button>
    <md-button ng-click="personCtrl.removeAvatar()">Remove Avatar</md-button>
  </div>

  <div ng-if="!person.hasAvatar || isEditingAvatar">
    <label for="avatar" translate>Select Avatar</label>
    <div
      ngf-drop
      ngf-select
      ng-model="files"
      class="drop-zone"
      ngf-drag-over-class="dragover"
      ngf-multiple="false"
      ngf-allow-dir="false"
      accept="image/*"
      ngf-change="personCtrl.onAvatarSelected($files, $event)">
        <translate>Drop images here or click to upload</translate>
    </div>
    <div ngf-no-file-drop><translate>File Drag/Drop is not supported for this browser</translate></div>

    <div class="cropArea" ng-if="personCtrl.uploadedAvatar">
      <img-crop image="personCtrl.uploadedAvatar"
                result-image="personCtrl.croppedAvatar"
                area-type="square"
                result-image-size="800"
                result-image-format="image/jpeg">
      </img-crop>
    </div>
    <md-button  ng-if="personCtrl.isEditingAvatar" ng-click="isEditingAvatar = false">Cancel Editing</md-button>
  </div>
</mh-content>
