<div layout="column" layout-gt-xs="row">
  <md-list flex class="mh-content">
    <md-list-item
      ng-repeat="person in personCtrl.persons track by person.id"
      flex layout="row"
      class="person-list-item"
    >
      <mh-person-list-item flex person="::person"></mh-person-list-item>
      <div>
        <md-menu>
          <md-button aria-label="Open menu" class="md-icon-button md-action-icon-button" ng-click="$mdOpenMenu($event)">
            <ng-md-icon icon="arrow_drop_down_circle"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ui-sref="person.edit({ id: person.id })">
                <ng-md-icon icon="edit"></ng-md-icon>
                Edit
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="personCtrl.deletePerson(person)">
                <ng-md-icon icon="edit"></ng-md-icon>
                Delete
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-list-item>
  </md-list>
  
  <div layout="column">
    <div class="mh-content" layout="column" layout-align="start center">
      <b translate>Actions</b>
      <md-button ui-sref="person.export" translate><ng-md-icon icon="cloud_download"></ng-md-icon> Export</md-button>
      <md-button ui-sref="person.import" translate><ng-md-icon icon="cloud_upload"></ng-md-icon> Import</md-button>
      <md-button ui-sref="person.households" translate><ng-md-icon icon="home"></ng-md-icon> Households</md-button>
    </div>
    <div layout="column" class="mh-content">
      <b translate>Filter</b>  
      <md-input-container>
          <label translate>Filter by Status</label>
          <mh-person-status ng-model="personCtrl.filter.status"></mh-person-status>
        </md-input-container>
        
        <md-input-container>
          <label translate>Filter by Tag</label>
          <mh-person-tags ng-model="personCtrl.filter.tag"></mh-person-tags>
        </md-input-container>
        
        <md-input-container>
          <label translate>Filter by Group</label>
          <mh-person-group ng-model="personCtrl.filter.groups"></mh-person-group>
        </md-input-container>
    </div>
  </div>
</div>
<!---->
<a ui-sref="person.create">
  <md-button class="md-fab md-fab-floating-br md-accent" aria-label="New Person">
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
</a>
