<div ng-controller="OptionController as optionCtrl">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="option in optionCtrl.options"  ng-click="optionCtrl.setEditedOption(option)" ng-class="{'active':optionCtrl.isCurrentOption(option.id)}">
      {{ option.optionName }} {{option.optionValue}}
      <span type="button" style="float:right" ng-click="optionCtrl.deleteOption(option.id)">&times;</span>
    </li>
  </ul>

  <div ng-if="!optionCtrl.isEditing" class="well">
    <h4>Create a New Option</h4>
    <hr/>
    <form class="create-form" role="form" ng-submit="optionCtrl.createOption(optionCtrl.newOption)" novalidate>
      <div class="form-group">
        <label>Option name</label>
        <input type="text" class="form-control" ng-model="optionCtrl.newOption.optionName" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Option Value</label>
        <textarea class="form-control" ng-model="optionCtrl.newOption.optionValue" placeholder="Enter value"></textarea>
      </div>
      <button type="submit" class="btn btn-info btn-lg">Create</button>
    </form>
  </div>
  <!-- EDITING -->
  <div ng-if="optionCtrl.isEditing" class="well">
    <h4>Editing {{optionCtrl.editedOption.optionName}} {{optionCtrl.editedOption.optionValue}}</h4>
    <hr/>
    <form class="edit-form" role="form" ng-submit="optionCtrl.updateOption(optionCtrl.editedOption)" novalidate>
      <div class="form-group">
        <label>Option name</label>
        <input type="text" class="form-control" ng-model="optionCtrl.editedOption.optionName" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Option value</label>
        <textarea class="form-control" ng-model="optionCtrl.editedOption.optionValue" placeholder="Enter name"></textarea>
      </div>
      <button type="submit" class="btn btn-info btn-lg">Save</button>
      <button type="button" class="btn btn-default btn-lg pull-right" ng-click="optionCtrl.cancelEditing()">Cancel</button>
    </form>
  </div>

</div>
