.login-bg {
  background: image-url("login/bg/1.jpg");
  background-size: 100% auto;
}
.login-content {
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  background: image-url("login/bg-white-lock.png") repeat;
  @include border-radius(7px  );

  .rememberMe {
    margin-top: 8px;
    display: inline-block;
  }
}
